<div class="row ">

    <!-- img first -->
    <div class="col-xs-12 col-sm-6 flex-row row-wrap  p-sm-right-no">
        <div class="col-xs-12 col-sm-6 order-sm-1 order-1 p-no">
            <span class="triangle-left hidden-xs"></span>
            <div class="same-height">
                <img class="img-responsive" src="/content/dam/demo/Australia/Website/Images/whoisdemo/careers/why2.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 order-sm-2 order-2">
            <div class="same-height">
                <h2 class="ht5 bold m-top-s m-sm-top-no ">Inspired By Youuu111uuu</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>
        </div>
    </div>

      <!-- img first -->
      <div class="col-xs-12 col-sm-6 flex-row row-wrap  p-sm-left-no">
            <div class="col-xs-12 col-sm-6 order-sm-1 order-1 p-no">
                <span class="triangle-left hidden-xs"></span>
                <div class="same-height">
                    <img class="img-responsive" src="/content/dam/demo/Australia/Website/Images/whoisdemo/careers/why2.jpg">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 order-sm-2 order-2">
                <div class="same-height">
                    <h2 class="ht5 bold m-top-s m-sm-top-no ">Inspired By Youuu111uuu</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
            </div>
        </div>
    

 

</div>

<div class="row ">

       <!-- text first -->
       <div class="col-xs-12 col-sm-6 flex-row row-wrap  p-sm-right-no ">
            <div class="col-xs-12 col-sm-6 order-sm-1 order-2 m-top-s m-sm-top-no">
                    <div class="same-height">
                <h2 class="ht5 bold ">Inspired By Youuu222uuu</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 order-sm-2 order-1 p-no">
                <span class="triangle-right hidden-xs"></span>
                <div class="same-height">
                    <img class="img-responsive" src="/content/dam/demo/Australia/Website/Images/whoisdemo/careers/why2.jpg">
                </div>
            </div>
        </div>

     <!-- text first -->
     <div class="col-xs-12 col-sm-6 flex-row row-wrap  p-sm-left-no ">
            <div class="col-xs-12 col-sm-6 order-sm-1 order-2 m-top-s m-sm-top-no">
                    <div class="same-height">
                <h2 class="ht5 bold ">Inspired By Youuu222uuu</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 order-sm-2 order-1 p-no">
                <span class="triangle-right hidden-xs"></span>
                <div class="same-height">
                    <img class="img-responsive" src="/content/dam/demo/Australia/Website/Images/whoisdemo/careers/why2.jpg">
                </div>
            </div>
        </div>

      
       
    
    </div>